<link rel="stylesheet" href="/css/style_signup.css">

<div class="container">
    <div class="div-signup">

        <div class="logo-image">
            <img src="/img/logo.png">
        </div>

        <h2>
            Sign up
        </h2>

        <div class="container-form">
            <form action="/app/signUser" method="post">

                <div class="div-input">
                    <label for="">
                        First name:
                    </label>
                    <div>
                        <input name="fistName" type="text">
                    </div>
                </div>

                <div class="div-input">
                    <label for="">
                        Last name:
                    </label>
                    <div>
                        <input name="lastName" type="text">
                    </div>
                </div>

                <div class="div-input">
                    <label for="">
                        Email:
                    </label>
                    <div>
                        <input name="email" type="email">
                    </div>
                </div>

                <div class="div-input">
                    <label for="">
                        Password:
                    </label>
                    <div>
                        <input name="password" type="password">
                    </div>
                </div>

                <div class="div-input">
                    <label for="">
                        Repeat password:
                    </label>
                    <div>
                        <input type="password">
                    </div>
                </div>

                <div class="div-input">
                    <div class="input-checkbox">
                        <input name="agreement" type="checkbox">
                        <label for="">
                            I agree with the <a href="#">
                                terms and conditions.
                            </a>
                        </label>
                    </div>
                </div> 

                <button class="login-button" type="submit">
                    Sign up
                </button>

                <div class="div-make-login">
                    <div>
                        Already have an account?
                    </div>
                    <a href="#">
                        Login
                    </a>
                </div>

            </form>
        </div>

    </div>
</div>